<form ng-submit="submit()" name="register" class="form-signin" novalidate>
  <h1 class="form-signin-heading text-muted">Register</h1>
  <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
  <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">please enter a valid name</p>
  <input name="pwd" type="password" ng-model="password" class="form-control" placeholder="Password" required="">
  <input name="pwd_confirm" type="password" ng-model="password_confirm" class="form-control" placeholder="Confirm Password">
  <p class="help-block" ng-show="register.pwd_confirm.$dirty && password!=password_confirm">please match the passwords</p>
  <button ng-disabled="register.$invalid || password!=password_confirm" class="btn btn-lg btn-primary btn-block" type="submit">
    Submit
  </button>
</form>
